.square-design {
  height: 80px;
  width: 85px;
  float: left;
  text-align: center;
  color: tomato;
  font-size: 40px;
  cursor: pointer;
  font-family: Comic Sans MS, Arial, Verdana;
}
.square-design:focus {
  opacity: 0.4;
  border: 1px solid black;
  border-radius: 4px;
}
.board-design:after{
  display: table;
  clear: both;
  content: "";
}
.game-board-design{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  margin: 0 auto;  
}
.App h1{
  text-align: center;
  padding-top: 10%;
}
.App{
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  position: fixed;
  height: 100%;
  width: 100%;
}
.score-X{
  position: relative;
  right: 50%;
  font-size: x-large;
  padding-top: 15%;  
}
.score-0{

  position: relative;
  left: 50%;
  padding-top: 15%;
  font-size: x-large;
}
